<app-navbar></app-navbar>
<div class="container">
  <div class="centrartodo">
    <p class="p-responsive titulo text-center">Registrate</p>
    <div class="centlineas">
      <div class="la"></div>
    </div>
    <div class="centlineas">
      <div class="lv"></div>
    </div>
  </div>
  <!-- Extended material form grid -->
  <form>
    <!-- Grid row -->
    <div class="form-row margenform">
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input
            mdbInput
            type="text"
            class="form-control"
            id="inputNombre4MD"
            placeholder="Nombre"
          />
          <label for="inputNombre4MD">Nombre</label>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input
            mdbInput
            type="text"
            class="form-control"
            id="inputApellidos4MD"
            placeholder="Apellidos"
          />
          <label for="inputApellidos4MD">Apellidos</label>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->

    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input
            mdbInput
            type="text"
            class="form-control"
            id="inputTelefonoMD"
            placeholder="Telefono"
          />
          <label for="inputTelefonoMD">Telefono</label>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input
            mdbInput
            type="email"
            class="form-control"
            id="inputEmailMD"
            placeholder="Email"
          />
          <label for="inputEmailMD">Email</label>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!-- Grid row -->
    <div class="form-row">
      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <input
            mdbInput
            type="date"
            class="form-control"
            id="inputTelefonoMD"
          />
          <label for="inputTelefonoMD">Fecha de Nacimiento</label>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6">
        <!-- Material input -->
        <div class="md-form form-group">
          <select class="browser-default custom-select">
            <option selected>Selecciona tu genero</option>
            <option value="F">Femenino</option>
            <option value="M">Masculino</option>
            <option value="Sin Especificar">Sin Especificar</option>
          </select>
        </div>
      </div>
      <!-- Grid column -->
    </div>

    <!-- Grid row -->
    <div class="centrarbtn">
      <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>Registrar</button>
    </div>
  </form>
  <!-- Extended material form grid -->
</div>
