<div class="centrartodo">
  <p class="p-responsive titulo text-center">Lista de clientes</p>
  <div class="centlineas">
    <div class="la"></div>
  </div>
  <div class="centlineas">
    <div class="lv"></div>
  </div>
</div>

<div class="container">
  <div class="table-responsive mt-5">
    <table class="table">
      <thead>
        <tr class="ttabla">
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th class="operaciones">Operaciones</th>
        </tr>
      </thead>
      <tbody hover="true">
        <tr appTablehover *ngFor="let usuario of UsuariosListados">
          <td class="tc">{{ usuario.nombre }}</td>
          <td class="tc">{{ usuario.apellidos }}</td>
          <td class="tc">{{ usuario.correo }}</td>
          <td class="tc">{{ usuario.telefono }}</td>
          <td class="operacionesBoton">
            <button class="btn btn-outline-danger mr-2 mt-2">
              <mat-icon>delete_forever</mat-icon>
            </button>
            <button class="btn btn-outline-warning mt-2">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
