<div class="container mt-5">
  <p class="p-responsive titulo text-center">Ayudanos a cumplir sueños!</p>

  <div class="jumbotron">
    <p class="mt-5 text-center">
      "No te rindas, por favor no cedas, aunque el frío queme, aunque el miedo
      muerda, aunque el sol se esconda, y se calle el viento, aún hay fuego en
      tu alma, aún hay vida en tus sueños. Porque la vida es tuya y tuyo también
      el deseo, porque cada día es un comienzo nuevo, porque esta es la hora y
      el mejor momento". Mario Benedetti
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto mt-5">
      <img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"
        alt="video"
      />
    </div>

    <div class="col-md-4 mx-auto mt-5">
      <img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg"
        alt="video"
      />
    </div>

    <div class="col-md-4 mx-auto mt-5">
      <img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"
        alt="video"
      />
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 mx-auto mt-5 mb-5">
      <img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-4.jpg"
        alt="video"
      />
    </div>

    <div class="col-md-4 mx-auto mt-5 mb-5">
      <img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-5.jpg"
        alt="video"
      />
    </div>

    <div class="col-md-4 mx-auto mt-5 mb-5">
      <img
        class="img-fluid z-depth-1"
        src="https://mdbootstrap.com/img/screens/yt/screen-video-6.jpg"
        alt="video"
      />
    </div>
  </div>
</div>
